h1 {
  font-size: 50px;
  text-align: center;
}
form {
  text-align: center;
}
form .calory {
  font-size: 25px;
}
form .calory input {
  font-size: 25px;
}
form .foods-label {
  font-size: 25px;
  font-weight: bold;
}
.result {
  display: flex;
}
.result-content {
  flex: 1;
}
.result-content {
  text-align: center;
}
.result-content li {
  list-style: none;
}
