<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../static/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <h1>今日使う食材提案します！</h1>
    <a href="/insert/">食材を追加する</a>
    <form method="post">
      <div class="calory">{% csrf_token %} {{ formNum.as_p }}</div>
      <div class="foods-label">今ある食材をチェック！</div>
      <div class="foods">{% csrf_token %} {{ formBox.as_p }}</div>
      <button type="submit">結果を見る</button>
    </form>

    {% if result %}
    <div class="result">
      <div class="result-content">
        <h2>入力した値</h2>
        <ul>
          <li>入力した目標カロリー：{{ result }}kcal</li>
          <li>選択した食材一覧：{{ option }}</li>
          <li>選択した食材のカロリー：{{ weights }}</li>
          <li>選択した食材の価値：{{ values }}</li>
        </ul>
      </div>
      {% endif %} {% if calory %}
      <div class="result-content">
        <h2>これを使って料理しよう！</h2>
        <ul>
          <li>
            総カロリー：{{ calory }}kcal
            <p style="font-size: 12px">※すべて100gで計算</p>
          </li>
          <li>{{ name }}</li>
        </ul>
      </div>
    </div>
    {% endif %}
  </body>
</html>
