<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">FoodRecommend</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarScroll"
						aria-controls="navbarScroll"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarScroll">
						<ul
							class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
							style="--bs-scroll-height: 100px"
						>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about/">ABOUT</a>
							</li>
							<li class="nav-item">
								<a href="/insert/" class="nav-link disabled">INSERT</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<h1>食材の登録</h1>
		<a href="/">戻る</a>
	</body>
</html>
