@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Oswald:wght@400;700&display=swap');
:root {
	--accent-color: #cc4644;
	--bg-color: #f9fcf8;
	--font-color: #2d4156;
	--Jp-font: sans-serif;
	--En-font: 'Oswald', sans-serif;
}
body {
	font-family: var(--Jp-font) !important;
	background-color: var(--bg-color) !important;
	color: var(--font-color) !important;
}
h1 {
	font-size: 50px;
	font-family: var(--En-font) !important;
	color: var(--accent-color) !important;
	text-align: center;
	padding-top: 80px;
}
.insert-desc {
	text-align: center;
}
.insert-desc-title {
	font-weight: 700 !important;
	width: 50%;
}
.accent {
	color: var(--accent-color);
}
h2 {
	text-align: center;
	font-family: var(--En-font);
	color: var(--font-color);
	font-weight: 700 !important;
	width: 13%;
	margin: auto;
}
.insert-success {
	display: flex;
	column-gap: 55px;
	justify-content: center;
}
.insert-success div {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
.exit {
	text-align: center;
}
.exit a {
	font-size: 20px;
	color: var(--accent-color) !important;
	border: var(--accent-color) solid 2px;
	padding: 2px 10px;
	text-decoration: none;
	font-family: var(--En-font);
}
.insert_form {
	text-align: center;
}
.insert_form div {
	width: 50%;
	margin: 0 0 20px 20%;
}
label {
	color: var(--font-color);
	font-weight: bold;
	display: inline-block;
	text-align: right;
	width: 150px;
}
input {
	font-family: var(--Jp-font) !important;
	color: var(--accent-color) !important;
	text-align: center;
	font-weight: bold;
	width: 150px;
}
input[type='number'] {
	font-family: var(--En-font) !important;
	width: 150px;
}
button {
	font-size: 20px !important;
	font-family: var(--En-font) !important;
	color: var(--accent-color);
	background-color: var(--bg-color);
	border: var(--accent-color) 2px solid;
	margin-top: 20px;
}
