@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Oswald:wght@400;700&display=swap');
:root {
	--accent-color: #cc4644;
	--bg-color: #f9fcf8;
	--font-color: #2d4156;
	--Jp-font: sans-serif;
	--En-font: 'Oswald', sans-serif;
}
body {
	font-family: var(--Jp-font) !important;
	background-color: var(--bg-color) !important;
	color: var(--font-color) !important;
}
.container .navbar {
	font-family: var(--En-font) !important;
	background-color: var(--bg-color) !important;
}
.navbar-brand {
	color: var(--accent-color) !important;
}
.nav-link {
	color: var(--font-color) !important;
}
.nav-link.disabled {
	color: var(--bs-nav-link-disabled-color) !important;
}
h1 {
	font-size: 50px;
	font-family: var(--En-font) !important;
	color: var(--accent-color) !important;
	text-align: center;
	padding-top: 80px;
}

/* ポップアップ画面 */
.popup {
	display: none;
	height: 100vh;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
}
.content {
	background-color: var(--bg-color);
	padding: 30px;
	width: 50%;
}
.show {
	display: flex;
	justify-content: center;
	align-items: center;
}
